POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_NAME=postgres
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-l2#856c+o8k+h!ddpzuy^j3yx#$j*%*x6t5zhl+zzf1me28452
ALLOWED_HOSTS=127.0.0.1,localhost,backend,0.0.0.0:8000,foodgramfedotov.hopto.org